<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lista de Usuários
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/users">Usuários</a></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                
                <div class="box-header">
                  <a href="/users/create" class="btn btn-success">Cadastrar Aluno / Professor</a>
                </div>
    
                <div class="box-body no-padding">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th style="width: 60px"></th>
                        <th style="width: 240px">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$users"}
                      {if="$value.type_user == 2"}
                      {else}
                      <tr>
                        <td>{$value.name_user}</td>
                        <td>{$value.email_user}</td>
                        <td>{$value.phone_user}</td>
                        <td>{if="$value.type_user == 1"}Professor{else}Aluno{/if}</td>
                        {if="$value.type_user == 1"}<td>
                          <a href="/users/{$value.id_user}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                          <a href="/users/{$value.id_user}/password" class="btn btn-default btn-xs"><i class="fa fa-unlock"></i> Alterar Senha</a>
                          <a href="/users/{$value.id_user}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                        </td>{else}<td>
                          <a href="/users/{$value.id_user}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                          <a href="/users/{$value.id_user}/payment" class="btn btn-default btn-xs"><i class="fa fa-unlock"></i> Mensalidade</a>
                          <a href="/users/{$value.id_user}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                        </td>{/if}
                        
                        {/if}
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
          </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->