<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(/res/images/bg.jpg);">
          <span class="login100-form-title-1">
            Sistema de Luta
          </span>
          <span style="color: #fff;">
            Recuperar senha
          </span>
        </div>
        <div class="alert alert-success">
          <h4>Senha Alterada!</h4>
          <p>Tente fazer o login com sua nova senha.<br><a href="/login">Clique aqui</a> para fazer o login.</p>
        </div>
      </div>
    </div>
  </div>